extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="Imagen de viaje", class="img-fluid")
      .col-md-7
        h1 #{viaje.titulo}
        p
          i.bi.bi-calendar-event 
          | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
        p
          i.bi.bi-coin 
          | #{viaje.precio}.00 USD
        p
          i.bi.bi-people 
          | #{viaje.disponibles} Disponibles
        p=viaje.descripcion

