.row.proximos-viajes
  each travel in travels
    .col-md-6.col-lg-4.mb-4 
      .card
        img.card-img-top(src=`img/destinos_${travel.imagen}.jpg`)
      .card-body 
        h2=travel.titulo
        p
          i.bi.bi-calendar-event 
          | #{travel.fecha_ida} - #{travel.fecha_vuelta}
        p
          i.bi.bi-people 
          | #{travel.disponibles} Disponibles
        p=travel.descripcion.substr(0,100) + " ..."
        a(href=`viajes/${travel.slug}`, class="btn btn-success btn-block") Más Información